img#family-photo {
  height: 300px;
  border: solid 6px lightgrey;
}

img#straffon-staff {
  height: 240px;
  border: solid 6px white;
}

@media only screen and (max-width: 991px) {
  img#family-photo {
    margin-top: 50px;
  }
}
