<div class="text-center row">
  <div class="col-xs-10 col-xs-offset-1">
<h2>WELCOME TO STRAFFON ORTHODONTICS IN DENVER</h2>
<section>
    <div>
        <div class="carousel-fade" id="slides_control">
            <div>
                <uib-carousel interval="myInterval">
                    <uib-slide ng-repeat="slide in slides" active="active" index="$index">
                        <img ng-src="{{slide.image}}" style="margin:auto;" />
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </div>
</section>
<h3>Your Custom, Signature Smile Starts Here</h3>
<br/>
<p>At Straffon Orthodontics, each individual’s treatment plan is as unique as their fingerprint; each smile, a personal signature. From invisible options, to customized virtual treatment plans that eliminate the need for impressions with 3D scanning technology, Straffon Orthodontics is Denver’s Top Choice.</p>
<p>We offer options to fit all different age groups, lifestyles, and treatment needs. Dr. Straffon is actively involved with designing and implementing new advancements in orthodontic technology, so his patients always receive the most streamlined and efficient treatment possible.</p>
<p>Not only do we have an amazing staff that goes above and beyond to make your experience effortless, Dr. Straffon takes a more personal approach and values your input. You will find that he works closely with you throughout the course of treatment to ensure you receive the signature smile you have always dreamed of.</p>
<h3>DENVER’S LEADING EXPERT IN THE USE OF CUSTOM ORTHODONTICS</h3>
<p>Dr. Straffon is Denver’s leading expert in the use of custom orthodontics, but what really sets us apart is the way that Dr. Straffon approaches every person as an individual – taking the time to really get to know his patients and treating them as individually as he treats each of their smiles.</p>
<p>It is this personalized approach and incredible results that have consistently ranked him as Top Orthodontist by the readers of 5280 Magazine as well as a Top Doctor among USA Dentists.</p>
<p>DR. DEREK A. STRAFFON</p>
<p>Every Patient Deserves a Custom, Signature Smile</p>
<p>meet-dr-straffon</p>
<p>Dr. Derek Straffon attended Indiana University, and then went on to receive his Doctor of Dental Surgery and Master of Science in Orthodontics from the nationally ranked University of Michigan. He is a recipient of the prestigious Thomas A. Graber Award for Research in Orthodontics, Top Orthodontist by 5280 Magazine, and was named Top Doctor among USA Top Dentists. In his free time, you will find him enjoying the outdoors of Colorado running triathlons, mountain biking, skiing, and spending time with his family.</p>
<p>Straffon Orthodontics is known for designing Signature Smiles that will light up a room and last a lifetime. A Straffon Signature Smile is personalized to fit each individual, crafted by an amazing, caring team, tailored for kids and adults alike, comfortable, fast, and aesthetic.</p>
<p>As a top orthodontist in Denver, Dr. Straffon is leading the way with a completely customized approach to orthodontic treatment.</p>
</div>
</div>
