<div class="hero-image" style="width: 100%">
  <div class="hero-text">
    <br/><br/>
    <h1>I am Dr. Straffon</h1>
    <p>And With Great Smiles Comes Great Responsabilities</p>
  </div>
</div>

<!-- Welcome Section -->

<div class="text-center row" style="width:100%">
  <div class="col-xs-10 col-xs-offset-1">
    <h2 style="font-family: futura" class="animated pulse infinite">
      WELCOME TO <br/>
      STRAFFON ORTHODONTICS <br/>
      IN DENVER
    </h2>
  </div>
</div>
<div class="text-center row" style="width:100%">
  <div class="col-xs-10 col-xs-offset-1">
    <h4 style="font-family: futura; color: grey;">Your Custom, Signature Smile Starts Here</h4>
    <br/>
    <div class="col-xs-12 col-md-6">
      <p style="font-family: futura;">At Straffon Orthodontics, each individual’s treatment plan is as
        unique as their fingerprint; each smile, a personal signature. From invisible options, to
        customized virtual treatment plans that eliminate the need for impressions with 3D scanning
        technology, Straffon Orthodontics is Denver’s Top Choice.
      </p>
      <br/>
      <p style="font-family: futura;">We offer options to fit all different age groups, lifestyles,
        and treatment needs. Dr. Straffon is actively involved with designing and implementing new
        advancements in orthodontic technology, so his patients always receive the most streamlined
        and efficient treatment possible.
      </p>
      <br/>
      <p style="font-family: futura;">Not only do we have an amazing staff that goes above and beyond
        to make your experience effortless, Dr. Straffon takes a more personal approach and values your
        input. You will find that he works closely with you throughout the course of treatment to ensure
        you receive the signature smile you have always dreamed of.
      </p>
    </div>
    <br/>
    <div class="col-xs-12 col-md-6">
      <img id="family-photo" src="../../images/home/welcomefamily.jpg">
      <br/><br/>
      <p style="font-family: futura; color: darkgrey;">Join Our Family Of Patients!</p>
    </div>
  </div>
</div>

<!-- Dr. Straffon Section -->

<br/><br/>
<div class="text-center row" style="background: lightgrey; padding-bottom: 20px;">
  <div class="col-xs-10 col-xs-offset-1">
    <br/>
    <h3 style="font-family: futura;">DENVER’S LEADING EXPERT <br/>
      IN THE USE OF <br/>
      CUSTOM ORTHODONTICS
    </h3>
    <br/>
    <div class="col-xs-12 col-md-6">
      <img id="straffon-staff" src="../../images/home/rsz_straffonclient.jpg">
      <br/><br/>
    </div>
    <div class="col-xs-12 col-md-6">
      <p style="font-family: futura;">Dr. Straffon is Denver’s leading expert in the use of custom orthodontics, but what really sets us apart is the way that Dr. Straffon approaches every person as an individual – taking the time to really get to know his patients and treating them as individually as he treats each of their smiles.</p>
      <p style="font-family: futura;">It is this personalized approach and incredible results that have consistently ranked him as Top Orthodontist by the readers of 5280 Magazine as well as a Top Doctor among USA Dentists.</p>
      <p style="font-family: futura;">- DR. DEREK A. STRAFFON</p>
      <p style="font-family: 'Metamorphous', cursive; color: #343138; font-size: 10px;">"Every Patient Deserves a Custom, Signature Smile"</p>
    </div>
  </div>
</div>

<!-- Meet Dr. Straffon Section -->

<div class="text-center row">
  <div class="col-xs-8 col-xs-offset-2">
    <br/>
    <h3 style="font-family: futura;">MEET DR STRAFFON</h3>
    <center><img src="../../images/home/drsaffron.jpg" class="img-responsive img-circle" style="height:240px;"></center></br></br>
    <p style="font-family: futura;">Dr. Derek Straffon attended Indiana University, and then went on to receive his Doctor of Dental Surgery and Master of Science in Orthodontics from the nationally ranked University of Michigan. He is a recipient of the prestigious Thomas A. Graber Award for Research in Orthodontics, Top Orthodontist by 5280 Magazine, and was named Top Doctor among USA Top Dentists. In his free time, you will find him enjoying the outdoors of Colorado running triathlons, mountain biking, skiing, and spending time with his family.</p>
    <p style="font-family: futura;">Straffon Orthodontics is known for designing Signature Smiles that will light up a room and last a lifetime. A Straffon Signature Smile is personalized to fit each individual, crafted by an amazing, caring team, tailored for kids and adults alike, comfortable, fast, and aesthetic.</p>
    <p style="font-family: futura;">As a top orthodontist in Denver, Dr. Straffon is leading the way with a completely customized approach to orthodontic treatment.</p>
  </div>
</div>
<br/><br/>

<!-- Carousel Section -->

<section>
  <div class="container">
    <div class="carousel-fade" id="slides_control">
      <div>
        <uib-carousel interval="myInterval">
          <uib-slide ng-repeat="slide in slides" active="active" index="$index">
            <img ng-src="{{slide.image}}" style="margin:auto; width: 100%;" />
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
  </div>
</section>
<br/>
